<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>752917325907-sum04l73qpnoe8p1sl7bev32j9r65p1o.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.752917325907-sum04l73qpnoe8p1sl7bev32j9r65p1o</string>
	<key>API_KEY</key>
	<string>AIzaSyAvCzvomlK8S6NSC6m1TNYTjDZomPANOo0</string>
	<key>GCM_SENDER_ID</key>
	<string>752917325907</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>host.exp.exponent</string>
	<key>PROJECT_ID</key>
	<string>tinder-app-yt</string>
	<key>STORAGE_BUCKET</key>
	<string>tinder-app-yt.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:752917325907:ios:354c48793aa5dd3e413ea6</string>
</dict>
</plist>